@page "/admin/licencias/details/{id:int}"
<h3 class="bg-info text-white text-center p-1">Details</h3>
<table class="table table-sm table-bordered table-striped">
    <tbody>
        <tr><th>ID</th><td>@Licencia.LicenciaID</td></tr>
        <tr><th>Número de licencia</th><td>@Licencia.NumeroLicencia</td></tr>
        <tr><th>Nombre Sucursal</th><td>@Licencia.NombreSucursal</td></tr>
        <tr><th>Tipo de Licencia</th><td>@Licencia.TipoLicencia</td></tr>
        <tr><th>Price</th><td>@Licencia.Precio.ToString("C")</td></tr>
    </tbody>
</table>
<NavLink class="btn btn-warning" href="@EditUrl">Edit</NavLink>
<NavLink class="btn btn-secondary" href="/admin/licencias">Back</NavLink>
@code {
    [Inject]
    public IStoreRepository Repository { get; set; }
    [Parameter]
    public int Id { get; set; }
    public Licencia Licencia { get; set; }
    protected override void OnParametersSet()
    {
        Licencia = Repository.Licencias.FirstOrDefault(l => l.LicenciaID == Id);
    }
    public string EditUrl => $"/admin/licencias/edit/{Licencia.LicenciaID}";
}