@page "/admin/licencias/edit/{id:long}"
@page "/admin/licencias/create"
@inherits OwningComponentBase<IStoreRepository>
<style>
    div.validation-message {
        color: rgb(220, 53, 69);
        font-weight: 500
    }
</style>
<h3 class="bg-@ThemeColor text-white text-center p-1">@TitleText a Licencia</h3>
<EditForm Model="Licencia" OnValidSubmit="SaveLicencia">
    <DataAnnotationsValidator />
    @if (Licencia.LicenciaID != 0)
    {
        <div class="form-group">
            <label>ID</label>
            <input class="form-control" disabled value="@Licencia.LicenciaID" />
        </div>
    }
    <div class="form-group">
        <label>Número de licencia</label>
        <ValidationMessage For="@(() => Licencia.NumeroLicencia)" />
        <InputText class="form-control" @bind-Value="Licencia.NumeroLicencia" />
    </div>
    <div class="form-group">
        <label>Nombre sucursal</label>
        <ValidationMessage For="@(() => Licencia.NombreSucursal)" />
        <InputText class="form-control" @bind-Value="Licencia.NombreSucursal" />
    </div>
    <div class="form-group">
        <label>Tipo de licencia</label>
        <ValidationMessage For="@(() => Licencia.TipoLicencia)" />
        <InputText class="form-control" @bind-Value="Licencia.TipoLicencia" />
    </div>
    <div class="form-group">
        <label>Price</label>
        <ValidationMessage For="@(() => Licencia.Precio)" />
        <InputNumber class="form-control" @bind-Value="Licencia.Precio" />
    </div>
    <button type="submit" class="btn btn-@ThemeColor">Save</button>
    <NavLink class="btn btn-secondary" href="/admin/licencias">Cancel</NavLink>
</EditForm>
@code {
    public IStoreRepository Repository => Service;
    [Inject]
    public NavigationManager NavManager { get; set; }
    [Parameter]
    public long Id { get; set; } = 0;
    public Licencia Licencia { get; set; } = new Licencia();
    protected override void OnParametersSet()
    {
        if (Id != 0)
        {
            Licencia = Repository.Licencias.FirstOrDefault(l => l.LicenciaID == Id);
        }
    }
    public void SaveLicencia()
    {
        if (Id == 0)
        {
            Repository.CreateLicencia(Licencia);
        }
        else
        {
            Repository.SaveLicencia(Licencia);
        }
        NavManager.NavigateTo("/admin/licencias");
    }
    public string ThemeColor => Id == 0 ? "primary" : "warning";
    public string TitleText => Id == 0 ? "Create" : "Edit";
}