@model CocktailDB
@{if (Model.ldrinks.Count() > 0)
    {


    <div class="row">
        <div class="col-12 text-right">
            <a class="btn btn-outline-primary align-content-end justify-content-end" style="width:200px" onClick="history.back();">
                Regresar
            </a>
        </div>
    </div>
    <br />

    <div class="row" style="width:100%">
        <div class="col-5">
            <h3 class="text-center">@Model.ldrinks.FirstOrDefault().strDrink</h3>
        </div>
        <div class="col-7 ">
            <h3 class="text-center">Ingredientes</h3>            
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-5">
            <figure class="figure align-self-end align-content-end img-fluid">
                <img class="align-content-end align-self-end img-fluid" src="@Model.ldrinks.FirstOrDefault().strDrinkThumb"
                     style="width: 400px; height: 420px; align-self:end" />
            </figure>
        </div>

        <div class="col-7">
            <div class="row" style="width:100%">
                @foreach (var r in Model.lIngredientsdrink)
                {
                    <div class="col-4">
                        <figure class="figure align-self-end align-content-end">
                            <img class="align-content-end align-self-end img-fluid" src="@r.strURLImage"
                                 style="width: 160px; height: 165px; align-self:end" />
                        </figure>
                        <a class="form-text text-center">
                            @r.strMedida &nbsp; @r.strIngrediente
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
        }
    }
