@model RecompensasData

<br />
<br />
<div class="row align-content-center " style="width:60%">
    <div class="col align-self-end align-content-end ">
        <figure class="figure align-self-end align-content-end " style="height:90%">
            <img class="align-content-end align-self-end border rounded-circle" src="@Model.media"
                 style="width: 140px; height: 100%; align-self:end" />
        </figure>
    </div>
    <div class="col-md-auto text-left align-content-end align-self-end">
        <span class="font-weight-bold bg-primary text-white align-content-end align-self-end" style="font-size:25px;width:100%">
            @Model.name
        </span>
        <br />
        <br />
    </div>
</div>

<div class="row align-content-center " style="width:60%">
    <div class="col text-right border rounded bg-light" style="margin:2px;padding:2px">
        <span class="font-weight-bold text-right" style="font-size:15px;">
            Cashback
        </span>
    </div>
    <div class="col text-left border rounded bg-light" style="margin:2px;padding:2px">
        <span class="font-weight-bold bg-primary text-white text-left" style="font-size:15px;">
            @Model.dv_cashback
        </span>
    </div>
</div>

<div class="row align-content-center " style="width:60%">
    <div class="col text-right border rounded bg-light" style="margin:2px;padding:2px">
        <span class="font-weight-bold text-right" style="font-size:15px;">
            Rating
        </span>
    </div>
    <div class="col text-left border rounded bg-light" style="margin:2px;padding:2px">
        <i class="fas fa-star  align-content-center" style="color:orange"></i>
        <span class="font-weight-bold text-right" style="font-size:15px;">
            @Model.rating
        </span>
    </div>
</div>
<br />
<br />
<div class="row align-content-center " style="width:60%">
    <div class="col text-center border rounded bg-light" style="margin:2px;padding:2px">
        <span class="font-weight-bold text-center" style="font-size:18px;">
            Ubicaciones
        </span>
    </div>
</div>

@foreach (var r in Model.venues)
{
    <div class="row align-content-center " style="width:60%">
        <div class="col text-right border rounded bg-transparent" style="margin:2px;padding:2px">
            <span class="font-weight-bold text-right" style="font-size:12px;">
                Nombre
            </span>
        </div>
        <div class="col text-left border rounded bg-light" style="margin:2px;padding:2px">
            <span class="font-weight-bold text-right" style="font-size:11x;">
                @r.name
            </span>
        </div>
    </div>

    <div class="row align-content-center " style="width:60%">
        <div class="col text-right border rounded bg-transparent" style="margin:2px;padding:2px">
            <span class="font-weight-bold text-right" style="font-size:12px;">
                Status
            </span>
        </div>
        <div class="col text-left border rounded bg-light" style="margin:2px;padding:2px">
            <span class="font-weight-bold text-right" style="font-size:11x;">
                @r.status
            </span>
        </div>
    </div>
    
    <div class="row align-content-center " style="width:60%">
        <div class="col text-right border rounded bg-transparent" style="margin:2px;padding:2px">
            <span class="font-weight-bold text-right" style="font-size:12px;">
                Dirección
            </span>
        </div>
        <div class="col text-left border rounded bg-light" style="margin:2px;padding:2px">
            <span class="font-weight-bold text-right" style="font-size:11x;">
                @r.address.street_address
                
            </span>
        </div>
    </div>
    
}
