@model RecompensasResponse
@{

    int iNumCol = 1;
    string sRating = "rating";
    string sCashback = "cashback_decimal";
    string sRecien = "created";
}
<div class="row">
    <div id="Comp">
        <h4 class="font-weight-bolder">Test CR</h4>
    </div>

</div>
<br />
<br />
<div class="row align-content-center align-self-sm-center text-center" style="width: 70%; padding: 5px; margin: 5px;">
    <div class="col align-content-center" style="height:25px;width:80px;">
        <span class="font-weight-bold align-content-center " style="font-size:9px;">
            &nbsp;
        </span>
    </div>
    <div class="col border rounded bg-light align-content-center" style="height:25px;width:30px;">
        <span class="font-weight-bold align-content-center " style="font-size:9px;">
            <i class="fas fa-star" style="color:orange"></i>
            <a href="@Url.Action("RecompensasR", "Home", new { sFilter=sRating})"
               class="font-weight-light text-primary font-weight-bolder alert-link text-right"
               style="font-size:11px">
                Mejor rating
            </a>
        </span>
    </div>
    <div class="col border rounded bg-light align-content-center" style="height:25px;width:40px;">
        <span class="font-weight-bold align-content-center " style="font-size:9px;">
            <i class="fas fa-dollar-sign" style="color:orange"></i>
            <a href="@Url.Action("RecompensasR", "Home", new { sFilter = sCashback })"
               class="font-weight-light text-primary font-weight-bolder alert-link text-right"
               style="font-size:11px">
                Mayor cashback
            </a>
        </span>
    </div>
    <div class="col border rounded bg-light align-content-center" style="height:25px;width:40px;">
        <span class="font-weight-bold align-content-center " style="font-size:9px;">
            <i class="fas fa-clock" style="color:orange"></i>
            <a href="@Url.Action("RecompensasR", "Home", new { sFilter = sRecien })"
               class="font-weight-light text-primary font-weight-bolder alert-link text-right"
               style="font-size:11px">
                Recién agregados
            </a>
        </span>
    </div>
</div>
<br />
<br />
<div class="row " style="padding:5px;margin:5px;">
    @foreach (var r in Model.data)
    {
    <div class="col border rounded bg-light" style="height:220px;margin:5px;width:310px;padding:5px">
        <div class="row" style="height:70px">
            <div class="col align-self-end align-content-end " style="width:60%; height:90%">
                <figure class="figure align-self-end align-content-end " style="height:90%">
                    <img class="align-content-end align-self-end border rounded-circle" src="@r.media"
                         style="width: 60px; height: 90%; align-self:end" />
                </figure>
            </div>
            <div class="col text-right align-content-end align-self-end " style="width:20%">
                <span class="bg-primary text-white align-content-end align-self-end" style="font-size:9px;">
                    @r.dv_cashback CASHBACK
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-auto text-left" style="width:80%">
                <span class="font-weight-bold font-weight-bold" style="font-size:11px;">
                    @r.name
                </span>
            </div>
            <div class="col text-right font-weight-bold align-content-end align-self-end" style="width:20%;font-size:9px">
                <span class="font-weight-bold " style="font-size:9px;">
                    $<i class="fas fa-dot-circle align-content-center" style="color:black;font-size:6px"></i>
                    <i class="fas fa-star" style="color:orange"></i>
                    @r.rating
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <span class="font-weight-light text-primary font-weight-bolder" style="font-size:10px">
                    @r.dv_category
                </span>
            </div>
        </div>
        <div class="row">
            <br />
            <div class="col">
                <span class="font-weight-light text-dark font-weight-bolder" style="font-size:10px">
                    Recompensa @r.quickType
                </span>
                <hr style="height:1px; background-color:lightgray" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <i class="fas fa-location-arrow" style="color:dodgerblue"></i>
                <a href="@Url.Action("Location", "Home", new { name=r.name})"
                   class="font-weight-light text-primary font-weight-bolder alert-link" style="font-size:11px;">
                    Locación
                </a>
            </div>
            <div class="col text-right">
                <i class="fas fa-link" style="color:dodgerblue"></i>
                <a href="@Url.Action("Mas", "Home", new { name=r.name})"
                   class="font-weight-light text-primary font-weight-bolder alert-link text-right"
                   style="font-size:11px">
                    Conoce más
                </a>
            </div>
        </div>
    </div>

        if (iNumCol == 3)
        {
            <div class="w-100"></div>
            iNumCol = 0;
        }

        iNumCol++;
    }
</div>

<script src="@Url.Content("~/Scripts/js/jc.jsx")"></script>








